# Region
region = "<region in which to operate, example: us-ashburn-1, us-phoenix-1>"

# Compartment
compartment_ocid = "<compartment OCID>"

# VCN Configurations
vcn_display_name = "<Virtual Cloud Network's Display Name>"
vcn_cidr = "<Virtual Cloud Network's CIDR block>"
